<div class="flex items-center justify-between bg-orange-50 p-6 border-b border-[#5b3413] ">
  <div>
    <h1 class="text-3xl font-bold"></h1>
    <p class="text-sm text-black">Bienvenue dans l’espace Client</p>
  </div>

  <div class="flex items-center gap-6">

    <div  class="flex items-center gap-2">
     <div>
        <p class="font-semibold">prenom et nom</p>
        <p class="text-xs text-gray-600">login</p>
      </div>
      <div class="bg-orange-100 rounded-full p-2">
        <img class="w-8 h-8 rounded-full" src="https://tse4.mm.bing.net/th/id/OIP.ISjFqHGBODoczYZDutookAHaHa?r=0&rs=1&pid=ImgDetMain">
      </div>
    </div>
  </div>
</div>
